@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --red: #cc0000;
    --white: #ffffff;
    --black: #0d0d0d;
    --light-gray: #f2f2f2;
    --dark-gray: #666666;
}
* {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: var(--light-gray);
}
h2{
    font-size: 2.5rem;
    font-weight: 900;
    font-style: italic;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navbar i{
    padding-left: 1rem;
    font-size: 2rem;
    color: var(--red);
}
.navbar span{
    text-transform: uppercase;
    color: var(--white);
}
.navbar.active{
    background-color: var(--black); 
    box-shadow: 0 0 4px rgb(0 0 0 / 15%);
}
.nav-options a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--white);
    margin: 1rem;
}

#nav-btn {
    display: none;
    font-size: 2rem;
    color: var(--red);
}

#home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    background-image: url(./imgs/Picture\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    z-index: -2;
}
#home::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: 0.7;
    z-index: -1;
}
.home-text {
    color: var(--white);
    padding: 4rem;
    width: 600px;
}
.home-text h1{
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}
.home-text p{
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}
#about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 4rem;
    scroll-margin-top: 6rem;
}

.about-img{
    width: 20rem;
    height: 20rem;
}

.about-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-text{
    text-align: left;
    width: 600px;
}
.about-text p{
    line-height: 2;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}
.about-btn{
    display: inline-block;
    text-align: center;
    color: var(--red);
    border-style: solid;
    border-color: var(--red);
    border-radius: 3rem;
    padding: 0.25rem 1rem;
    text-decoration: none;
}
.about-btn:hover{
    background-color: var(--red);
    color: var(--white);
    border-style: solid;
    border-color: var(--red);
}
#menu {
    margin-top: 4rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--white);
    scroll-margin-top: 6rem;
}
.menu-header{
    text-align: center;
    padding: 2rem;
}
.menu-container{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    padding-left: 6rem;
}
.menu-container2{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    padding-right: 6rem;
}
.menu-img{
    width: 20rem;
    height: 20rem;
}
.menu-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.menu-items{
    text-align: left;
}
.menu-items h3{
    line-height: 2;
    color: var(--red);
    font-size: 2rem;
    text-transform: uppercase;
}
.menu-items2{
    text-align: right;
}
.menu-items2 h3{
    line-height: 2;
    color: var(--red);
    font-size: 2rem;
    text-transform: uppercase;
}
#gallery {
    margin-top: 4rem;
    scroll-margin-top: 6rem;
}
.gallery-header{
    text-align: center;
    margin-bottom: 2rem;
}
.gallery-pics{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-auto-rows: 20rem;
    grid-gap: 1.5rem;
    justify-content: center;
}
.gallery-pics img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#contact {
    background-color: var(--black);
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    grid-auto-rows: 10rem; 
    justify-content: center;
    align-content: center;
    grid-gap: 2rem;
    min-height: 15rem;
    padding: 1.5rem 0rem;
    scroll-margin-top: 6rem;
}
.contact-block{
    text-align: center;
}
.contact-block h3{
    font-size: 2rem;
    font-weight: 900;
    color: var(--red);
}
.contact-block p{
    line-height: 2;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    color: var(--white);
}
footer {
    background-color: var(--black);
    border-top-color: var(--white);
    border-top: 2px;
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}



@media screen and (max-width: 1300px) {
    html {
        font-size: 75%;
    }
    #nav-btn{
        display: inline-block;
    }
    .nav-options{
        position: fixed;
        top: -500%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        border-top: 2px solid white;
        text-align: center;
        
    }
    .nav-options a {
        padding: 1rem;
        position: block;
        color: var(--white);
    }

    .nav-options.active{
        position: fixed;
        top: 55px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        border-top: 2px solid white;
        text-align: center;
    }
    .home-text{
        padding: 0rem 1.5rem;
    }
    .about-text{
        text-align: center;
        padding: 0rem 1.5rem;
    }
    .about-text p{
        line-height: 2rem;
    }
    .gallery-pics{
        display: grid;
        grid-template-columns: repeat(auto-fit, 20rem);
        grid-gap: 1.5rem;
        justify-content: center;
        padding: 0rem 1.5rem
    }
    #contact{
        display: grid;
        grid-template-columns: repeat(auto-fit, 15rem); 
        justify-content: center;
        align-content: center;
        grid-gap: 2rem;
    }
}
@media screen and (max-width: 500px){
    html {
        font-size: 75%;
    }
    #nav-btn{
        display: inline-block;
    }
    .nav-options{
        position: fixed;
        top: -500%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        border-top: 2px solid white;
        text-align: center;
        
    }
    .nav-options a {
        padding: 1rem;
        position: block;
        color: var(--white);
    }

    .nav-options.active{
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        border-top: 2px solid white;
        text-align: center;
    }
    .home-text{
        padding: 0rem 1.5rem;
    }
    .about-text{
        text-align: center;
        padding: 0rem 1.5rem;
    }
    .about-text p{
        line-height: 2rem;
    }
    .menu-items{
        padding-right: 1.5rem
    }
    .menu-items2{
        padding-left: 1.5rem
    }
    .gallery-pics{
        display: grid;
        grid-template-columns: repeat(1, 20rem);
        grid-gap: 1.5rem;
        justify-content: center;
        padding: 0rem 1.5rem
    }
    #contact{
        display: grid;
        grid-template-columns: repeat(1, 15rem); 
        justify-content: center;
        align-content: center;
        grid-gap: 2rem;
    }

}

@media screen and (max-width: 430px){
    html {
        font-size: 75%;
    }
    #nav-btn{
        display: inline-block;
    }
    .nav-options{
        position: fixed;
        top: -500%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        border-top: 2px solid white;
        text-align: center;
        
    }
    .nav-options a {
        padding: 1rem;
        position: block;
        color: var(--white);
    }

    .nav-options.active{
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        border-top: 2px solid white;
        text-align: center;
    }
    .home-text{
        padding: 0rem 1.5rem;
    }
    .about-text{
        text-align: center;
        padding: 0rem 1.5rem;
    }
    .about-text p{
        line-height: 2rem;
    }
    .menu-items{
        padding-right: 1.5rem
    }
    .menu-items2{
        padding-left: 1.5rem
    }
    .gallery-pics{
        display: grid;
        grid-template-columns: repeat(1, 20rem);
        grid-gap: 1.5rem;
        justify-content: center;
        padding: 0rem 1.5rem
    }
    #contact{
        display: grid;
        grid-template-columns: repeat(1, 15rem); 
        justify-content: center;
        align-content: center;
        grid-gap: 2rem;
    }

}